<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>244752468165-q88lqo6tanfk9n05v2n4qti6c2f5sndc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244752468165-q88lqo6tanfk9n05v2n4qti6c2f5sndc</string>
	<key>API_KEY</key>
	<string>AIzaSyDa944mfCBtSwrGYaFgyXE0khJeHXSRaSc</string>
	<key>GCM_SENDER_ID</key>
	<string>244752468165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CaptainAbhious</string>
	<key>PROJECT_ID</key>
	<string>newproject-16f09</string>
	<key>STORAGE_BUCKET</key>
	<string>newproject-16f09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244752468165:ios:25816d4d1fc399e6</string>
	<key>DATABASE_URL</key>
	<string>https://newproject-16f09.firebaseio.com</string>
</dict>
</plist>